<!DOCTYPE html>
<html lang="en">

<head>
	<title>three.js webgl - PLY</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
	<link type="text/css" rel="stylesheet" href="css/machoire.css">
</head>

<body>
	<div class="abc">
		<a href="/logout">Logout</a>
	</div>
	<!-- Import maps polyfill -->
	<!-- Remove this when import maps will be widely supported -->
	<script async src="https://unpkg.com/es-module-shims@1.3.6/dist/es-module-shims.js"></script>

	<script type="importmap">
		{
			"imports": {
				"three": "https://unpkg.com/three@0.138.2/build/three.module.js"
			}
		}
	</script>
		

	<script type="module">

		import * as THREE from 'https://unpkg.com/three@0.138.2/build/three.module.js';

		import Stats from 'https://unpkg.com/three@0.138.2/examples/jsm/libs/stats.module.js';

		import { PLYLoader } from 'https://unpkg.com/three@0.138.2/examples/jsm/loaders/PLYLoader.js';

		import { GUI } from 'https://cdn.jsdelivr.net/npm/lil-gui@0.16/+esm';

		import { OrbitControls } from 'https://unpkg.com/three@0.138.2/examples/jsm/controls/OrbitControls.js';
		import { TeapotGeometry } from 'https://unpkg.com/three@0.138.2/examples/jsm/geometries/TeapotGeometry.js';

		let container, stats;

		let camera, cameraTarget, scene, renderer;

		let cameraControls;
		let effectController;
		const upperjawsize = 300;
		const lowerjawsize = 300;
		let ambientLight, light;

		let meshLowerludo;
		let meshUpperludo;
		let meshLowerbenj;
		let meshUpperbenj;
		let meshLower;
		let meshUpper;
		let upperjaw;
		let lowerjaw;

		let resetcamera;
		let jawslist;


		let textureCube;
		const materials = {};

		init();
		animate();

		function init() {

			container = document.createElement('div');
			document.body.appendChild(container);

			camera = new THREE.PerspectiveCamera(15, window.innerWidth / window.innerHeight, 1, 100);
			camera.position.set(3, 0.15, 3);

			cameraTarget = new THREE.Vector3(0, - 0.1, 0);

			scene = new THREE.Scene();
			scene.background = new THREE.Color(0x72645b);
			scene.fog = new THREE.Fog(0x72645b, 2, 15);


			// Ground

			const plane = new THREE.Mesh(
				new THREE.PlaneGeometry(40, 40),
				new THREE.MeshPhongMaterial({ color: 0x999999, specular: 0x101010 })
			);
			plane.rotation.x = - Math.PI / 2;
			plane.position.y = - 0.5;
			scene.add(plane);

			plane.receiveShadow = true;


			// Définir le matériau dont seront faites les mâchoires (n'est pas unique à une machoîre cependant)
			const material = new THREE.MeshPhongMaterial({
				color: 0xffffff,
				flatShading: true,
				vertexColors: true,
				shininess: 0
			});





			// Initialiser les fichiers PLY en mémoire, leur donner matériau, taille, ombre, nom, les ajouter à la scène

			const loader = new PLYLoader();
			loader.load('jaws/benj LowerJawScan.ply', function (geometry) {

				geometry.computeVertexNormals();

				meshLowerbenj = new THREE.Mesh(geometry, material);

				meshLowerbenj.scale.multiplyScalar(0.01);
				meshLowerbenj.castShadow = true;
				meshLowerbenj.receiveShadow = true;
				meshLower = meshLowerbenj;
				meshLower.name = "lowerJaw";

				scene.add(meshLower);
			});

			loader.load('jaws/benj UpperJawScan.ply', function (geometry) {

				geometry.computeVertexNormals();

				meshUpperbenj = new THREE.Mesh(geometry, material);

				meshUpperbenj.scale.multiplyScalar(0.01);
				meshUpperbenj.castShadow = true;
				meshUpperbenj.receiveShadow = true;
				meshUpper = meshUpperbenj;
				meshUpper.name = "upperJaw";

				scene.add(meshUpper);
			});
			loader.load('jaws/ludo_add LowerJawScan.ply', function (geometry) {

				geometry.computeVertexNormals();

				meshLowerludo = new THREE.Mesh(geometry, material);

				meshLowerludo.scale.multiplyScalar(0.01);
				meshLowerludo.castShadow = true;
				meshLowerludo.receiveShadow = true;
			});

			loader.load('jaws/ludo_add UpperJawScan.ply', function (geometry) {

				geometry.computeVertexNormals();

				meshUpperludo = new THREE.Mesh(geometry, material);

				meshUpperludo.scale.multiplyScalar(0.01);
				meshUpperludo.castShadow = true;
				meshUpperludo.receiveShadow = true;
			});

			meshLower = meshLowerbenj;
			meshUpper = meshUpperbenj;





			// Ajouter des lumières
			scene.add(new THREE.HemisphereLight(0x443333, 0x111122));

			addShadowedLight(1, 1, 1, 0xffffff, 1.35);
			addShadowedLight(0.5, 1, - 1, 0xffaa00, 1);





			// Renderer

			renderer = new THREE.WebGLRenderer({ antialias: true });
			renderer.setPixelRatio(window.devicePixelRatio);
			renderer.setSize(window.innerWidth, window.innerHeight);
			renderer.outputEncoding = THREE.sRGBEncoding;

			renderer.shadowMap.enabled = true;

			container.appendChild(renderer.domElement);





			// EVENTS
			window.addEventListener('resize', onWindowResize);

			// CONTROLS
			cameraControls = new OrbitControls(camera, renderer.domElement);
			cameraControls.addEventListener('change', render);
			cameraControls.saveState();

			// stats
			stats = new Stats();
			container.appendChild(stats.dom);
			// resize
			window.addEventListener('resize', onWindowResize);

			// // TEXTURE MAP
			// const textureMap = new THREE.TextureLoader().load('textures/uv_grid_opengl.jpg');
			// textureMap.wrapS = textureMap.wrapT = THREE.RepeatWrapping;
			// textureMap.anisotropy = 16;
			// textureMap.encoding = THREE.sRGBEncoding;

			

			// GUI
			setupGui();

		}





		// Menu et gestion d'inputs utilisateur

		function setupGui() {

			effectController = {
				upperjaw: true,
				lowerjaw: true,
				jawslist: 'benj',
				resetcamera: function () { resetCamera() },
			};

			const gui = new GUI();
			gui.add(effectController, 'upperjaw').name('Afficher la mâchoîre supérieure').onChange(updateUpperJaw);
			gui.add(effectController, 'lowerjaw').name('Afficher la mâchôire inférieure').onChange(updateLowerJaw);
			gui.add(effectController, 'jawslist', ['benj', 'ludo']).name('Sélectionner la mâchoire à afficher').onChange(changeJaw);
			gui.add(effectController, 'resetcamera').name('Réinitialiser la position de la caméra');
		}



		function changeJaw() {
			jawslist = effectController.jawslist;
			scene.remove(meshLower);
			scene.remove(meshUpper)
			if (jawslist == 'benj') {

				meshLower = meshLowerbenj;
				meshLower.name = "lowerJaw";
				scene.add(meshLower);

				meshUpper = meshUpperbenj;
				meshUpper.name = "upperJaw";
				scene.add(meshUpper);
				return;

			} else if (jawslist == 'ludo') {
				meshLower = meshLowerludo;
				meshLower.name = "lowerJaw";
				scene.add(meshLower);

				meshUpper = meshUpperludo;
				meshUpper.name = "upperJaw";
				scene.add(meshUpper);
				return;
			}
			render();
		}


		function updateUpperJaw() {
			if (effectController.upperjaw == upperjaw) { return; }
			upperjaw = effectController.upperjaw;
			if (upperjaw) { addEntity(meshUpper); }
			if (!upperjaw) { removeEntity(meshUpper); }
			render();
		}

		function updateLowerJaw() {
			if (effectController.lowerjaw == lowerjaw) { return; }
			lowerjaw = effectController.lowerjaw;
			if (lowerjaw) { addEntity(meshLower); }
			if (!lowerjaw) { removeEntity(meshLower); }
			render();
		}

		function addEntity(object) {
			scene.add(object);
			animate();
		}

		function removeEntity(object) {
			scene.remove(object);
			animate();
		}





		// Utilitaire de création de lumière
		// Peut sûrement être simplifié
		function addShadowedLight(x, y, z, color, intensity) {

			const directionalLight = new THREE.DirectionalLight(color, intensity);
			directionalLight.position.set(x, y, z);
			scene.add(directionalLight);

			directionalLight.castShadow = false;

			const d = 1;
			directionalLight.shadow.camera.left = - d;
			directionalLight.shadow.camera.right = d;
			directionalLight.shadow.camera.top = d;
			directionalLight.shadow.camera.bottom = - d;

			directionalLight.shadow.camera.near = 1;
			directionalLight.shadow.camera.far = 4;

			directionalLight.shadow.mapSize.width = 1024;
			directionalLight.shadow.mapSize.height = 1024;

			directionalLight.shadow.bias = - 0.001;

		}


		function resetCamera() {
			cameraControls.reset();
			animate();
		}



		function onWindowResize() {

			camera.aspect = window.innerWidth / window.innerHeight;
			camera.updateProjectionMatrix();

			renderer.setSize(window.innerWidth, window.innerHeight);

			// render();

		}

		function animate() {
			requestAnimationFrame(animate);
			render();
			stats.update();
		}

		function render() {
			// camera.lookAt( cameraTarget );
			renderer.render(scene, camera);
		}
		
	</script>

	
</body>



</html>